#mermaid-svg {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
  fill: #333;
}

#mermaid-svg .error-icon {
  fill: #552222;
}

#mermaid-svg .error-text {
  fill: #552222;
  stroke: #552222;
}

#mermaid-svg .edge-thickness-normal {
  stroke-width: 2px;
}

#mermaid-svg .edge-thickness-thick {
  stroke-width: 3.5px;
}

#mermaid-svg .edge-pattern-solid {
  stroke-dasharray: 0;
}

#mermaid-svg .edge-pattern-dashed {
  stroke-dasharray: 3;
}

#mermaid-svg .edge-pattern-dotted {
  stroke-dasharray: 2;
}

#mermaid-svg .marker {
  fill: #333333;
  stroke: #333333;
}

#mermaid-svg .marker.cross {
  stroke: #333333;
}

#mermaid-svg svg {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
}

#mermaid-svg .edge {
  stroke-width: 3;
}

#mermaid-svg .section--1 rect,
#mermaid-svg .section--1 path,
#mermaid-svg .section--1 circle,
#mermaid-svg .section--1 polygon,
#mermaid-svg .section--1 path {
  fill: hsl(240, 100%, 76.2745098039%);
}

#mermaid-svg .section--1 text {
  fill: #ffffff;
}

#mermaid-svg .node-icon--1 {
  font-size: 40px;
  color: #ffffff;
}

#mermaid-svg .section-edge--1 {
  stroke: hsl(240, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth--1 {
  stroke-width: 17;
}

#mermaid-svg .section--1 line {
  stroke: hsl(60, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-0 rect,
#mermaid-svg .section-0 path,
#mermaid-svg .section-0 circle,
#mermaid-svg .section-0 polygon,
#mermaid-svg .section-0 path {
  fill: hsl(60, 100%, 73.5294117647%);
}

#mermaid-svg .section-0 text {
  fill: black;
}

#mermaid-svg .node-icon-0 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-0 {
  stroke: hsl(60, 100%, 73.5294117647%);
}

#mermaid-svg .edge-depth-0 {
  stroke-width: 14;
}

#mermaid-svg .section-0 line {
  stroke: hsl(240, 100%, 83.5294117647%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-1 rect,
#mermaid-svg .section-1 path,
#mermaid-svg .section-1 circle,
#mermaid-svg .section-1 polygon,
#mermaid-svg .section-1 path {
  fill: hsl(80, 100%, 76.2745098039%);
}

#mermaid-svg .section-1 text {
  fill: black;
}

#mermaid-svg .node-icon-1 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-1 {
  stroke: hsl(80, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-1 {
  stroke-width: 11;
}

#mermaid-svg .section-1 line {
  stroke: hsl(260, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-2 rect,
#mermaid-svg .section-2 path,
#mermaid-svg .section-2 circle,
#mermaid-svg .section-2 polygon,
#mermaid-svg .section-2 path {
  fill: hsl(270, 100%, 76.2745098039%);
}

#mermaid-svg .section-2 text {
  fill: #ffffff;
}

#mermaid-svg .node-icon-2 {
  font-size: 40px;
  color: #ffffff;
}

#mermaid-svg .section-edge-2 {
  stroke: hsl(270, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-2 {
  stroke-width: 8;
}

#mermaid-svg .section-2 line {
  stroke: hsl(90, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-3 rect,
#mermaid-svg .section-3 path,
#mermaid-svg .section-3 circle,
#mermaid-svg .section-3 polygon,
#mermaid-svg .section-3 path {
  fill: hsl(300, 100%, 76.2745098039%);
}

#mermaid-svg .section-3 text {
  fill: black;
}

#mermaid-svg .node-icon-3 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-3 {
  stroke: hsl(300, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-3 {
  stroke-width: 5;
}

#mermaid-svg .section-3 line {
  stroke: hsl(120, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-4 rect,
#mermaid-svg .section-4 path,
#mermaid-svg .section-4 circle,
#mermaid-svg .section-4 polygon,
#mermaid-svg .section-4 path {
  fill: hsl(330, 100%, 76.2745098039%);
}

#mermaid-svg .section-4 text {
  fill: black;
}

#mermaid-svg .node-icon-4 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-4 {
  stroke: hsl(330, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-4 {
  stroke-width: 2;
}

#mermaid-svg .section-4 line {
  stroke: hsl(150, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-5 rect,
#mermaid-svg .section-5 path,
#mermaid-svg .section-5 circle,
#mermaid-svg .section-5 polygon,
#mermaid-svg .section-5 path {
  fill: hsl(0, 100%, 76.2745098039%);
}

#mermaid-svg .section-5 text {
  fill: black;
}

#mermaid-svg .node-icon-5 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-5 {
  stroke: hsl(0, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-5 {
  stroke-width: -1;
}

#mermaid-svg .section-5 line {
  stroke: hsl(180, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-6 rect,
#mermaid-svg .section-6 path,
#mermaid-svg .section-6 circle,
#mermaid-svg .section-6 polygon,
#mermaid-svg .section-6 path {
  fill: hsl(30, 100%, 76.2745098039%);
}

#mermaid-svg .section-6 text {
  fill: black;
}

#mermaid-svg .node-icon-6 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-6 {
  stroke: hsl(30, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-6 {
  stroke-width: -4;
}

#mermaid-svg .section-6 line {
  stroke: hsl(210, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-7 rect,
#mermaid-svg .section-7 path,
#mermaid-svg .section-7 circle,
#mermaid-svg .section-7 polygon,
#mermaid-svg .section-7 path {
  fill: hsl(90, 100%, 76.2745098039%);
}

#mermaid-svg .section-7 text {
  fill: black;
}

#mermaid-svg .node-icon-7 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-7 {
  stroke: hsl(90, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-7 {
  stroke-width: -7;
}

#mermaid-svg .section-7 line {
  stroke: hsl(270, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-8 rect,
#mermaid-svg .section-8 path,
#mermaid-svg .section-8 circle,
#mermaid-svg .section-8 polygon,
#mermaid-svg .section-8 path {
  fill: hsl(150, 100%, 76.2745098039%);
}

#mermaid-svg .section-8 text {
  fill: black;
}

#mermaid-svg .node-icon-8 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-8 {
  stroke: hsl(150, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-8 {
  stroke-width: -10;
}

#mermaid-svg .section-8 line {
  stroke: hsl(330, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-9 rect,
#mermaid-svg .section-9 path,
#mermaid-svg .section-9 circle,
#mermaid-svg .section-9 polygon,
#mermaid-svg .section-9 path {
  fill: hsl(180, 100%, 76.2745098039%);
}

#mermaid-svg .section-9 text {
  fill: black;
}

#mermaid-svg .node-icon-9 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-9 {
  stroke: hsl(180, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-9 {
  stroke-width: -13;
}

#mermaid-svg .section-9 line {
  stroke: hsl(0, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-10 rect,
#mermaid-svg .section-10 path,
#mermaid-svg .section-10 circle,
#mermaid-svg .section-10 polygon,
#mermaid-svg .section-10 path {
  fill: hsl(210, 100%, 76.2745098039%);
}

#mermaid-svg .section-10 text {
  fill: black;
}

#mermaid-svg .node-icon-10 {
  font-size: 40px;
  color: black;
}

#mermaid-svg .section-edge-10 {
  stroke: hsl(210, 100%, 76.2745098039%);
}

#mermaid-svg .edge-depth-10 {
  stroke-width: -16;
}

#mermaid-svg .section-10 line {
  stroke: hsl(30, 100%, 86.2745098039%);
  stroke-width: 3;
}

#mermaid-svg .disabled,
#mermaid-svg .disabled circle,
#mermaid-svg .disabled text {
  fill: lightgray;
}

#mermaid-svg .disabled text {
  fill: #efefef;
}

#mermaid-svg .section-root rect,
#mermaid-svg .section-root path,
#mermaid-svg .section-root circle,
#mermaid-svg .section-root polygon {
  fill: hsl(240, 100%, 46.2745098039%);
}

#mermaid-svg .section-root text {
  fill: #ffffff;
}

#mermaid-svg .icon-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mermaid-svg .edge {
  fill: none;
}

#mermaid-svg :root {
  --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}